<a href="https://colab.research.google.com/github/kebreck/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

LoanStats_2018Q4.cs     [               <=>  ]  22.05M  2.73MB/s    in 10s

2020-05-13 01:33:13 (2.19 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

--2020-05-13 01:33:14--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.163.140.110, 52.42.154.205, 52.32.67.162
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.163.140.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [          <=>       ]  22.05M  1.95MB/s    in 12s

2020-05-13 01:33:27 (1.85 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [23121687]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
loans = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
loans.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
loans['term'][1]

' 36 months'

In [0]:
type(int(loans['term'][1].strip().strip(' months')))

int

In [0]:
def stripFunc(input):
    return int(input.strip().strip(' months'))

In [0]:

term1 = ' 60 months'
print(term1)

 60 months

In [0]:
type(term1)

str

In [0]:
stripFunc(term1)

60

In [0]:
type(stripFunc(term1))

int

In [0]:
loans['term_clean'] = loans['term'].apply(stripFunc)
loans['term_clean'].sample(10)

127549    60
7088      36
61675     36
59860     36
126852    60
13623     36
89038     60
34217     36
59786     36
29714     36
Name: term_clean, dtype: int64

In [0]:
loans.head()

   id  member_id  loan_amnt  ...  settlement_percentage  settlement_term term_clean
0 NaN        NaN      10000  ...                    NaN              NaN         60
1 NaN        NaN       6500  ...                    NaN              NaN         36
2 NaN        NaN       4500  ...                    NaN              NaN         36
3 NaN        NaN      25000  ...                    NaN              NaN         60
4 NaN        NaN      30000  ...                    NaN              NaN         60

[5 rows x 145 columns]

In [0]:
# This method only returned 1... trying the other way
# def checkStatus(input):
#     if input == 'Current' or 'Fully Paid':
#       return 1
#     else:
#       return 0

In [0]:
checkStatus("Current")

NameError: ignored

In [0]:
checkStatus('Fully Paid')

In [0]:
checkStatus('Charged Off')

In [0]:
loans['loan_status_is_great'] = 0
loans[['loan_status_is_great', 'loan_status']].head()

In [0]:
loans.loc[loans['loan_status']=='Current', 'loan_status_is_great'] = 1
loans.loc[loans['loan_status']=='Fully Paid', 'loan_status_is_great'] = 1
loans[['loan_status_is_great', 'loan_status']].head()

In [0]:
loans.columns.values.tolist()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 'term_clean']

In [0]:
loans['last_pymnt_d'].value_counts()

Apr-2020    73153
Mar-2020    10734
May-2020     7488
Jul-2019     3146
Sep-2019     2755
Dec-2019     2730
Oct-2019     2722
Aug-2019     2716
May-2019     2547
Nov-2019     2388
Apr-2019     2356
Jan-2020     2336
Jun-2019     2288
Mar-2019     1984
Feb-2019     1915
Feb-2020     1858
Jun-2020     1609
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
Name: last_pymnt_d, dtype: int64

In [0]:
loans['last_pymnt_d_formatted'] = pd.to_datetime(loans['last_pymnt_d'], infer_datetime_format=True)

In [0]:
loans['last_pymnt_d_formatted'].dtype

dtype('<M8[ns]')

In [0]:
loans['last_pymnt_d_year'] = loans['last_pymnt_d_formatted'].dt.year
loans['last_pymnt_d_month'] = loans['last_pymnt_d_formatted'].dt.month
loans[['last_pymnt_d_formatted', 'last_pymnt_d_month', 'last_pymnt_d_year']].head()

  last_pymnt_d_formatted  last_pymnt_d_month  last_pymnt_d_year
0             2019-05-01                 5.0             2019.0
1             2020-03-01                 3.0             2020.0
2             2019-02-01                 2.0             2019.0
3             2019-10-01                10.0             2019.0
4             2020-03-01                 3.0             2020.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
list(pd.loans)

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01